    <div class="card hoverable post bg-light">
        <div class="row">
            <div class="col">
                <h5 id="topic">
                    <a> {{ topic }} </a>
                </h5>
                <h2 id="title">
                    {{ title }}
                </h2>
                <p id="description">
                    {{ description }}
                </p>
                <h5 id="userID">
                 <p>Posted By: {{user.username}}</p>
                </h5>
                <p id="dateCreated">
                {{ date_created }}
                </p>
                
                {{#if logged_in}}

                {{>comment}}

                {{else}}
                
                <a href="/login"><p>add comment</p></a>

                {{/if}}
            </div>
        </div>
    </div>


