    <div class="card hoverable post bg-light">
        <div class="row">
            <div class="col">
                <h5 id="topic">
                    <a> {{ topic }} </a>
                </h5>
                <h2 id="title">
                    {{ title }}
                </h2>
                <p id="description">
                    {{ description }}
                </p>
                <p id="userID">
                    User: {{ user.username }}
                </p>
                <p id="dateCreated">
                {{ date_created }}
                </p>

                <a href="/post/{{id}}">{{comment.length}} </a>
                                
                {{#if logged_in}}

                <a href="/login"><p>add comment</p></a>

                {{else}}
                
                {{!-- {{>commentForm}} --}}
                {{>commentForm}}

                {{/if}}
            </div>
        </div>
    </div>


