<div class="divider"></div>
<div class="row"></div>
<div class="row">
    <div class="col">
        <div class="col">
            <h1></h1>
            <h3>{{user.name}}</h3>
        </div>
        <div class="col">
            <h4 id="discussionTitle"> Your Discussions: </h4>
            <div class="col">
                {{#each profile.blog_posts as |blogPost|}}
                    <div class="card hoverable post bg-light">
                        <div class="row">
                            <div class="col">
                                <h5 id="topic">
                                    <a> {{ topic }} </a>
                                </h5>
                                <h2 id="title">
                                    {{ title }}
                                </h2>
                                <p id="description">
                                    {{ description }}
                                </p>
                                <p>{{ Comment.id }}</p>

                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <hr>
</div>