<div class="row">
    <div class="col">
        <div class="col">
            <h4 id="discussionTitle"> Your Discussions: </h4>
            <button class="btn bg-dark text-white submit" onclick="window.location.href='/blogForm'"> Create new Disucssion </button>
            <div class="col">
                {{#each blog_posts as |blogPost|}}
                    <div class="card hoverable post bg-light">
                        <div class="row">
                            <div class="col">
                                <h5 id="topic">
                                    <a> {{ topic }} </a>
                                </h5>
                                <h2 id="title">
                                    {{ title }}
                                </h2>
                                <p id="description">
                                    {{ description }}
                                </p>
                                <p id="dateCreated">
                                    {{ date_created }}
                                </p>
                                <p>{{ Comment.id }}</p>

                            </div>
                        </div>
                        <div> 
                            <button type='button' class="btn btn-danger deleteBtn">
                                Delete
                            </button>
                        </div>
                    </div>

                    {{> comment blog_post.comment}}

                {{/each}}
            </div>
            <script src="/js/delete-blog-post.js"></script>
        </div>
        <hr>
</div>